* {
  margin: 0;
  text-align: center;
}

header img {
  height: 400px;
}

header ul li {
  margin: .7%;
  display: inline;
}

main img {
  height: 200px;
}

code {
  background-color: yellow;
  display: inline-block;
}